# Python virtual environments
env/
.venv/
env-dev/
env-test/

# tox artifacts
.tox/
.eggs/
mlte.egg-info

# mypy artifacts
.mypy_cache/

# pytest artifacts
.coverage
.coverage.*
*.coverage
.pytest_cache/

# sphinx artifacts
build/
_autosummary/

# Python artifacts
__pycache__/
src/mlte_python.egg-info/

# Packaging artifacts
dist/
build/

# OSX artifacts
.DS_Store

# VS Code local configs.
.vscode/
