[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mlte-python"
version = "0.2.8"
description = "An infrastructure for machine learning test and evaluation."
authors = ["MLTE Engineers"]
packages = [
  { include = "mlte" }
]

include = [
  "mlte/frontend/nuxt-app/.output/public/**/*"
]
exclude = [
  "mlte/frontend/nuxt-app/**/**/*"
]

[tool.poetry.scripts]
mlte = "mlte.cli:run"

[tool.poetry.dependencies]
python = ">=3.8.1"
fastapi = ">=0.100.0"
pydantic-settings = "^2.0.3"
pydantic = "^2.1.1"
requests = "^2.31.0"
uvicorn = "^0.23.2"
deepdiff = "^6.3.1"
dill = "^0.3.7"
psutil = "^5.9.5"
SQLAlchemy = "^2.0.25"
SQLAlchemy-Utils = "^0.41.1"
psycopg2-binary = "^2.9.9"

[tool.poetry.group.qa.dependencies]
isort = "^5.12.0"
black = {extras = ["jupyter"], version = "^23.9.1"}
flake8 = "^6.1.0"
mypy = "^1.5.1"
types-requests = "^2.31.0.2"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
httpx = "^0.24.1"
jsonschema = "^4.19.0"

[tool.poetry.group.build.dependencies]
bump2version = "^1.0.1"

[tool.isort]
profile="black"
line_length = 80
known_first_party=["mlte"]

[tool.black]
line-length = 80
target-version = ['py38']

[tool.mypy]
mypy_path = "src"
check_untyped_defs = true
disallow_any_generics = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
no_implicit_reexport = true

[tool.pytest.ini_options]
addopts = "--cov=mlte"
testpaths = [
    "test",
]