.section-header {
    color: #d8ac16;
    display: inline;
}

.no-margin-sub-header {
    margin-bottom: 0px;
}

.sub-header-float-button {
    float: right;
    display: inline;
}

.input-group {
    border: 1px solid gray;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.inline-input-left {
    display: inline-block;
    margin-right: 1em;
    width: 28ch;
}

.inline-input-right {
    display: inline-block;
    width: 28ch;
}

.half-line-input {
    max-width: 60ch;
}

.primary-button {   
    background-color: #d8ac16 !important;
    color: black !important;
}

.secondary-button {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 2px #d8ac16 !important;
    color: black !important;
}

.inline-button {
    display: inline-block;
    padding-left: 1em;
}

.margin-button {
    margin-top: 1em !important;
    margin-right: 1em !important; 
}

.inline-icon {
    vertical-align: middle;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin-top: 1em;
}

.multi-line-checkbox-div {
    display: inline-block;
}

.multiple-per-line-checkbox {
    float: left;
    width: 30%;
}

.success-td {
   background-color: rgba(210, 232, 221, 255) !important;
}

.info-td {
    background: rgba(255, 243, 205, 255) !important;
}

.failure-td {
    background-color: rgba(248, 216, 219, 255) !important;
}

.modal-button {
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.submit-footer {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    position: sticky;
    bottom: 5px;
    width: 100%;
    height: 7ch;
    text-align: right;
    padding: 8px 0 20px 0;
    margin-top: 1em;
}
