.section-header {
    color: #d8ac16;
}

.sub-header-float-button {
    float: right;
    display: inline;
}

.input-group {
    border: 1px solid gray;
    padding: 0 1em 1em 1em;
    margin-bottom: 1em;
}

.inline-form-row {
    /* grid-row */
    display: flex;
    flex-wrap: wrap;

    /* grid-gap */
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: 1rem;

    align-items: center;
    justify-content: space-between;

    /* Applies padding to all direct children except buttons */
    > :not(button, .usa-button) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    /* Automatically switches to bottom alignment when inputs are present */
    &:has(.usa-textarea, .usa-input, .usa-select) {
        align-items: flex-end;
    }

    /* All headers inline shouldn't have margin so the buttons line up */
    h2, h3 {
        margin: 0;
    }
}

.usa-textarea,
.usa-input,
.usa-select,
.usa-label {
    max-width: none;
}

.usa-textarea {
    height: 5.5rem;
}

.half-line-input {
    max-width: 60ch;
}

.primary-button {   
    background-color: #d8ac16 !important;
    color: black !important;
}

.secondary-button {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 2px #d8ac16 !important;
    color: black !important;
}

.delete-button {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 2px #d83933 !important;
    color: #d83933 !important;
}

.margin-button {
    margin-top: 1em !important;
    margin-right: 1em !important; 
}

.inline-icon {
    vertical-align: middle;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin-top: 1em;
}

.multi-line-checkbox-div {
    display: inline-block;
}

.multiple-per-line-checkbox {
    float: left;
    width: 30%;
}

.success-td {
   background-color: rgba(210, 232, 221, 255) !important;
}

.info-td {
    background: rgba(255, 243, 205, 255) !important;
}

.failure-td {
    background-color: rgba(248, 216, 219, 255) !important;
}

.modal-button {
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.submit-footer {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    position: sticky;
    bottom: 5px;
    width: 100%;
    height: 7ch;
    text-align: right;
    padding: 8px 0 20px 0;
    margin-top: 1em;
}
