.section-header {
    color: #d8ac16;
}

.no-margin-sub-header {
    margin-bottom: 0px;
}

.input-group {
    border: 1px solid gray;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.inline-input-left {
    display: inline-block;
    margin-right: 1em;
    width: 28ch;
}

.inline-input-right {
    display: inline-block;
    width: 28ch;
}

.primary-button {   
    background-color: #d8ac16 !important;
    color: black !important;
}

.secondary-button {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 2px #d8ac16 !important;
    color: black !important;
}

.inline-button {
    display: inline-block;
    padding-left: 1em;
}

.margin-button {
    margin-top: 1em !important;
    margin-right: 1em !important; 
}

.inline-icon {
    vertical-align: middle;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    margin-top: 1em;
}

.submit-footer {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    position: sticky;
    bottom: 5px;
    width: 100%;
    height: 7ch;
    text-align: right;
    padding: 8px 0 20px 0;
    margin-top: 1em;
}

.horizontal-legend{
    display: flex;
    gap: 20px;
    align-items:center;
}

.legend-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.circle{
    height: 15px;
      width: 15px;
      border-radius: 50%;
      display: inline-block;
}
.top-priority {
    background-color: #d01818;
  }

  .mild-priority {
    background-color: #e6e640;
  }

  .low-priority {
    background-color: rgb(67, 131, 73);
  }

  .legend-item p {
    margin: 0;
    font-size: small;
  }
  
  .qualities-list{
    margin-left: 850px;
    position: relative;
    margin-top: -30px;
  }

 