site_name: MLTE Documentation
theme:
  name: "material"
  palette:
    scheme: slate
  logo: https://raw.githubusercontent.com/mlte-team/mlte/master/assets/MLTE_Logo_Color.svg
  favicon: img/favicon.ico
watch:
  - ../mlte
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [../mlte]
          options:
            docstring_style: sphinx
  - gen-files:
      scripts:
        - tools/generate_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
nav:
  - Home: 'index.md'
  - 'How-to Guides':
    - 'Getting Started': 'getting_started.md'
    - 'MLTE Mechanics': 'mlte_mechanics.md'
    - 'Using MLTE': 'using_mlte.md'
    - 'Quality Attribute Scenarios': 'qa_scenario.md'
    - 'Development': 'development.md'
  - 'References':
    - 'MLTE Framework': 'mlte_framework.md'
    - 'MLTE Properties': 'properties.md'
    - 'MLTE Measurements': 'mlte_measurements.md'
    - 'MLTE Negotiation Card': 'negotiation_card.md'
    - 'Resources': 'resources.md'
    - API Reference: reference/