site_name: MLTE Documentation
theme:
  name: "material"
  palette:
    scheme: slate
  logo: https://raw.githubusercontent.com/mlte-team/mlte/master/assets/MLTE_Logo_Color.svg
  favicon: img/favicon.ico
watch:
  - ../mlte
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [../mlte]
          options:
            docstring_style: sphinx
  - gen-files:
      scripts:
        - tools/generate_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
nav:
  - Home: 'index.md'
  - 'Using MLTE': 'using_mlte.md'
  - 'Test Catalog': 'test_catalog.md'
  - 'Development': 'development.md'
  - 'References':
    - 'MLTE Measurements': 'mlte_measurements.md'
    - 'MLTE Negotiation Card': 'negotiation_card.md'
    - 'New Demo Guide': 'new_demo.md'
    - API Reference: reference/